$themeblue: #2e88fe;
$secondarycolor: lightseagreen;

html {
    scroll-behavior: smooth;
}

@media (min-width:1000px) {
    div.main, div.footer {
        margin: 50px;
    }
    div.main > div {
        margin-bottom: 50px;
    }
}
@media (max-width:999px) {
    div.main, div.footer {
        margin: 20px;
    }
    div.main > div {
        margin-bottom: 10px;
    }
}
@media (pointer:none), (pointer:coarse) {
    #mobile-off {
        display: none;
    }
}

h2 {
    font-size: large;
    letter-spacing: 2px;
}
h3 {
    padding-top: 100px;
    text-align: center;
    margin-bottom: 30px;
}
p {
    color: #666666;
}
div.main {
    img {
        width: 100%;
    }
}
%list-points {
    vertical-align: text-bottom;
    color: $secondarycolor;
}
li {
    span.material-icons:not(.custom) {
        @extend %list-points;
        border: 2px $secondarycolor solid;
        border-radius: 5px;
        font-size: large;
        vertical-align: sub;
    }
    span.material-icons.custom {
        @extend %list-points;
    }
    h4 {
        display: inline-block;
        font-size: large;
        margin-left: 0.3em;
    }
}
li {
    list-style: none;
}
li::before {
    content: '';   
    margin-left: -2em;
}

.card {
    margin-bottom: 20px;
}